body {
	background-color: transparent !important;
	font-family: Roboto, sans-serif;
}



canvas {
	border: 5px dotted cyan; /* Add a border for visibility */
}

.custom-button,
.run-button,
.cancel-button {
	padding: 10px 20px;
	background-color: #0092b3; /* Button color */
	color: white; /* Text color */
	border: none;
	border-radius: 5px; /* Rounded corners */
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
	transform: translateY(1px); /* Move the button down slightly */
}

.run-button  {
	background-color: #09e74c;
	/* padding: 15px 25px;
	font-size: 20px; */
}

.cancel-button  {
	background-color: #ff2b2b;
	/* padding: 15px 25px;
	font-size: 20px; */
}

.custom-button:hover {
	background-color: #05ec5a; /* Hover color */
}

.run-button:hover {
	background-color: #91f51f; /* Hover color */
}

.cancel-button:hover  {
	background-color: #ec7805; /* Hover color */
}

.custom-button:active,
.run-button:active
.cancel-button:active{
	box-shadow: none; /* Remove shadow when button is clicked */
	transform: translateY(2px); /* Further move the button down when clicked */
	background-color: #0ba443;
}

.cancel-button:active {
	background-color: #009b39; /* Hover color */
}

.cancel-button:active {
	background-color: #b30000; /* Hover color */
}

.startHidden {
	display: none;
}

.search-container {
	/* display: flex;
	align-items: center; */
	max-width: 400px;
	/* margin: 0 auto; */
}
.search-input {
	/* flex: 1; */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.search-button {
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


.create-action-container {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.record-action-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

.save-action-container {
	display: flex;
	/* margin-top: 1em; */
}

.save-action-container > *:not(:first-child) {
    margin-left: 2em;
}

.input-action-container {
	display: flex;
	margin-top: 1em;
	flex-direction: column;
}

.run-action-container {
	display: flex;
	justify-content: left;
	margin-top: 2em;
}

.run-action-container > *:not(:first-child) {
    margin-left: 2em;
}

.required {
	color: red;
}
.requiredText {
	display: flex;
	color: cyan
}

/* ---------------------------------------------- */
.menuContainer {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: left;
	height: 100%;
}

.menuContainer div {
	width: 20em;
	height: 30em;
	margin-bottom: 2em;
}

/* Style the menu card */
.menuCard {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	padding: 10px;
	border: 7px solid #abbfb5;
	border-radius: 5px;
	width: 5em;
	color: rgb(50, 50, 50);
	font-weight: bold;
	font-size: 15px;
	font-family: Arial;
}

/* Style the label for the dropdown */
.dropdown label {
	font-weight: bold;
	color: rgb(50, 50, 50);
	display: block;
	margin-bottom: 5px;
}

/* Style the select dropdown itself */
.dropdown select {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 12px;
	color: rgb(50, 50, 50);
}

.menuCardTitle {
	color: rgb(50, 50, 50);
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
}

.counters {
	background-color:  rgb(50, 50, 50);
	color: #ccc;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
	padding: 10px 20px;
	border-radius: 3px;
}
.space {
	margin-left: 1em;
}

/* Style for the input field */
input[type="text"] {
	padding: 10px;
	width: 200px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

/* Style for the input field on focus */
input[type="text"]:focus {
	outline: none;
	border-color: dodgerblue; /* Change border color on focus */
}

/* Style for the submit button */
input[type="submit"] {
	padding: 10px 15px;
	background-color: dodgerblue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
