body {
	background-color: transparent !important;
	font-family: "Concert One", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
}


canvas {
	border: 5px dotted #3d3b63; /* Add a border for visibility */
}

.custom-button,
.run-button,
.cancel-button {
	padding: 10px 20px;
	background-color: #5a70cb; /* Button color */
	color: #e7e7f1;
	border: none;
	border-radius: 5px; /* Rounded corners */
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
	box-shadow: 0 8px 12px rgba(51, 44, 55, 0.1); /* Add shadow effect */
	transform: translateY(1px); /* Move the button down slightly */
	font-family: "Concert One", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
}

.run-button  {
	background-color: #09e74c;
	/* padding: 15px 25px;
	font-size: 20px; */
}

.cancel-button  {
	background-color: #ff6262;
	/* padding: 15px 25px;
	font-size: 20px; */
}

.custom-button:hover {
	background-color: #413ab8;
}

.run-button:hover {
	background-color: #413ab8
}

.cancel-button:hover  {
	background-color: #d64d74;
}

.custom-button:active,
.run-button:active
.cancel-button:active{
	box-shadow: none; /* Remove shadow when button is clicked */
	transform: translateY(2px); /* Further move the button down when clicked */
	background-color: #3a226d;
}

.cancel-button:active {
	background-color: #ae284e;
}

.hidden {
	display: none;
}

.search-container {
	/* display: flex;
	align-items: center; */
	max-width: 400px;
	/* margin: 0 auto; */
}
.search-input {
	/* flex: 1; */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.search-button {
	padding: 8px 16px;
	background-color: #a7adc6;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.create-action-container {
	display: flex;
	flex-direction: column;
	margin: 1em;
	color: #3d3b63;
}

.record-action-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

.save-action-container {
	display: flex;
	/* margin-top: 1em; */
}

.save-action-container > *:not(:first-child) {
    margin-left: 2em;
}

.input-action-container {
	display: flex;
	margin-top: 1em;
	flex-direction: column;
}

input, textarea{
	border-radius: 10px;
	background-color : #7b78af;
	color: #e7e7f1;
	font-family: "Concert One", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
}

input, textarea{
	border-radius: 10px;
	background-color : #7b78af;
	color: #e7e7f1;
	font-family: "Concert One", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
	font-size: 20px;
}

input::placeholder, textarea::placeholder {
    color: #e7e7f1;
	font-family: "Concert One", serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
	font-size: 20px;
}

.run-action-container {
	display: flex;
	justify-content: left;
	margin-top: 2em;
}

.run-action-container > *:not(:first-child) {
    margin-left: 2em;
}

.required {
	color: red;
}
.requiredText {
	display: flex;
	color: #55576b
}

.createMenu {
	background-color: #d9d4e3;
	margin: 1em 0;
	padding-bottom: 1em;
	border-radius: 3px;
}


.hidden {
    display: none;
}



.tableContainer {
	background-color: #d9d4e3;
	display:flex;
	justify-content: center;
	padding: 2em 0;
	border-radius: 30px;
}

.table {
	color: #55576b;
	border-collapse: collapse;
	width: 50%;
	font-size: 25px;
	margin: 2em;
}

th,
td {
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #292843;
}

th {
	background-color: #f3646c;
	font-weight:bolder;
	padding: 1em;

}

tr {
	background-color: #3d3b63;
	color: #e7e7ef;
}




